@(sistema: Sistema, tema: String)
 <div class="container form-horizontal panel panel-primary text-info" >
<h2>Eventos que envolvem @tema:</h2>

<div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nome </th>
                            <th>Descricao </th>
                            <th>Data </th>
                             
                            <th>A&ccedil;&otilde;es </th>
                        </tr>
                    </thead>
                    <tbody>
                    @for(evento <- sistema.eventosPorTema(tema)) {
                        <tr>
                            <td>@evento.getNome()</td>
                            <td>@evento.getDescricao()</td>
                            <td>@evento.getData()</td>
                            
                            <td>
                            @if(evento.isUsuarioConfirmado(sistema.getUsuarioLogado())) {
                            	<input type="button" class="btn btn-primary" value="Inscrito" disabled="disabled">
                            } else {
                           		@if(evento.isPrioritario()) {
                            		@if(!evento.isUsuarioConfirmado(sistema.getUsuarioLogado()) && evento.getPessoasQueConfirmaram().contains(sistema.getUsuarioLogado())) {
                            			<input type="button" class="btn btn-primary" value="Inexperiente" disabled="disabled">
                            		} else {
                            			<form action="@routes.Application.participar(evento.getId())" method="get"> 
                                			<input type="submit" class="btn btn-primary" value="Participar">
                            			</form>
                            		} 
                            	} else {
                            		@if(evento.isEventoClosed()) {
                            			<input type="button" class="btn btn-primary" value="Completo" disabled="disabled">
                            		} else {
                            			<form action="@routes.Application.participar(evento.getId())" method="get"> 
                                			<input type="submit" class="btn btn-primary" value="Participar">
                            			</form>
                            		}
                            	}
                            }
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div></div>
